html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: lightgrey;
    padding: 20px;
    height: 50%;
    width: 50%;
    max-width: 600px;
}

#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}

input {
    margin: 0;
    padding: 8px;
    /* Added padding for better appearance */
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}

label {
    margin-left: 50px;
    display: flex;
    align-items: center;
    /* Center aligns text with input */
    text-align: right;
    font-weight: bold;
}

#emailContainer,
#countryContainer,
#zipContainer,
#passwordContainer {
    grid-column: 1 / -1;
    /* Full width for each container */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    /* Gap between label and input */
}

#emailInput,
#countryInput,
#zipInput,
#passwordInput {
    grid-column: 2;
    /* Align input fields to the second column */
}

#emaillabel,
#countryLabel,
#zipLabel,
#passwordLabel {
    grid-column: 1;
    /* Align labels to the first column */
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    box-shadow: none;
  }

#buttonContainer {
    margin-top: 20px;
}

.button {
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.25rem;
}

#clearButton {
    margin-left: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: aqua;
}

.valid {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    color: black;
}

.error {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    color: red;
}